body {
  font-family:sans-serif;
  font-weight:200;
}

h3, h4 {
  text-align: center;
}

div {
  width:400px;
  height:100px;
  border:1px solid black;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  outline:none;
  font-size:14px;
}